/*====== FONT IMPORT ======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 /*====== Variable CSS ======*/
:root {
 /*====== Colors ======*/
--title-color: #0B0A0A;
--text-color: #403A3A;
--text-color-light: #707070;
--containers-color: #FAFAFA;
--conterners-color-alt: #F0EFEF;
--body-color: #FCFCFC;
 /*====== Font and Typography ======*/
--body-font:'Poppins', sans-serif;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .875rem;
--smaller-font-size: .813rem;
 /*====== Font weight ======*/
--font-medium: 500;
--font-semi-bold: 900;
/*====== Margins ======*/
--mb-1:.5rem;
--mb-2:1rem;
--mb-3:1.5rem;
}
body{
    height: 1000px;
    width: 300px;
    display: grid;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #403A3A;
}
.head{
    text-align: center;
    color: white;
}
.date{
    margin-bottom: -3px;
}
.bd-grid{
    display: grid;
    gap: 1rem;
    margin-top: -2px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(250, 248, 245);
}
.show__text__info{
    font-size: 12px;
    display: grid;
    margin-right: 4px;
    line-height: 19px
}
.show_text_style{
    font-weight: bold;
}
.bd-container{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.show__content{
    border: #403A3A 1px solid;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color);
}
.show__container{
    font-size: 14px;
}
.show__img{
    width: 137px;
    border-radius: 9px;  
}
.show__information{
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.show__title{
    text-align: center;
    margin-bottom: -3px; 
    font-weight: 700;

}
.neonText {
    color: #fff;
    text-shadow:
      /* White glow */
        0 0 7px #fff,
        0 0 10px rgb(130, 4, 4),
        0 0 21px rgba(204, 10, 10, 0.33),
      /* Red glow */
        0 0 42px rgb(255, 38, 0),
        0 0 82px rgb(255, 13, 0),
        0 0 92px rgb(255, 30, 0),
        0 0 102px rgb(255, 85, 0),
        0 0 151px rgb(255, 21, 0);
  }
  .time__arrow{
    display: grid;
    grid-template-columns: 20px 250px 20px;
    margin-bottom: 15px;
    justify-content: center;
}
.bx{
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
}
.container{
    display: grid;
    gap: .5rem;
}